<launch>
  <include file = "$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>
  <node name  = "tb_rviz_interaction" pkg = "task2_tb_slam" type = "tb_rviz_interaction.py" output="screen"/>
  <node name = "tp_path_publisher" pkg = "task2_tb_slam" type = "tb_path_publisher.py" output="screen"/>
  <node name = "PCL_ground_removal" pkg = "task3_pcl" type = "PCL_ground_removal" />
  <node name = "PCL_object_clustering" pkg = "task3_pcl" type = "PCL_object_clustering" />
  <node name = "object_list" pkg = "object_list" type = "object_list.py" output="screen" />


<!--Pos: x y z yaw pitch roll -->
  <node pkg="tf" type="static_transform_publisher" name="drone_f_cam_2_drone" args="0.22 0 0 0 0 0   /drone /drone_f_cam 100" />

  <node pkg="tf" type="static_transform_publisher" name="drone_b_cam_2_drone" args="0 0 -0.03 0 -1.57 0 /drone /drone_b_cam 100" />

  <node pkg="tf" type="static_transform_publisher" name="drone_2_turtlebot"   args="0.05 0 1.5 0 0 0    /camera_rgb_optical_frame /drone 100" />

</launch>
