<launch>
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <!-- Remap topic required by the node to custom topics -->
    <remap from="image_rect" to="image_rect" />
    <remap from="camera_info" to="camera_info" />

    <!-- Optional: Subscribe to the compressed stream-->
    <param name="image_transport" type="str" value="compressed" />

    <!-- Select the tag family: 16h5, 25h7, 25h9, 36h9, or 36h11(default) -->
    <param name="tag_family" type="str" value="36h11" />

    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.163513},
      {id: 1, size: 0.163513, frame_id: a_frame},
      {id: 2, size: 0.163513, frame_id: tag_2},
      {id: 3, size: 0.163513},
      {id: 4, size: 0.163513},
      {id: 5, size: 0.163513}]
    </rosparam>
  </node>

<!--Pos: x y z yaw pitch roll -->
  <node pkg="tf" type="static_transform_publisher" name="drone_f_cam_2_drone" args="0.22 0 0 0 0 0   /drone /drone_f_cam 100" />

  <node pkg="tf" type="static_transform_publisher" name="drone_b_cam_2_drone" args="0 0 -0.03 0 1.57 0 /drone /drone_b_cam 100" />

  <node pkg="tf" type="static_transform_publisher" name="drone_2_turtlebot"   args="0 0 1.5 0 0 0    /base_link /drone 100" />

</launch>
